---
import "../styles/style.css"
import Nav from "../components/Nav.astro"
import Video from "../components/Video.astro"
import Card from "../components/Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav/>
		</header>
		<main>
			<Video/>
			<div class="title_container">
				<h1>Første skridt mod din fremtid, <br> starter med ca A kasse</h1>
			</div>
			<section class="cards_container">
				<Card header="5 tips til en god studiestart" text="lorem ipsum lorem iobujns lorem ipsum lorem iobujns lorem ipsum lorem iobujns lorem ipsum lorem iobujns lorem ipsum lorem iobujns">
					<img src="5_tips_img.png" alt="">
				</Card>
				<Card header="Hvorfor er en A kasse vigtig?" text="lorem ipsum lorem iobujns lorem ipsum lorem iobujns lorem ipsum lorem iobujns lorem ipsum lorem iobujns lorem ipsum lorem iobujns">
					<img src="5_tips_img.png" alt="">
				</Card>
			</section>
		</main>
		<footer></footer>
	</body>
</html>
