---
import "../styles/style.css"
const {header, text, btn} = Astro.props;
---
<article>
        <h2>{header}</h2>
        <slot />
        <p>{text}</p>
        <button>{btn}</button>
</article>

<style>

    article{
        width: 355px;
        margin-bottom: 30px;
    }

    h2{
        margin-bottom: 20px;
    }

    p{
        line-height: 1.5;
        margin:20px 0;
    }

    button{
        font-family: "Nexa";
        padding: 20px;
        background-color: #054674;
        color: white;
        border: none;
        border-radius: 8px;
    }

    @media only screen and (min-width: 600px) {
    article{
        width: 275px;
    }
}

@media only screen and (min-width: 1166px) {
        article{
        width: 500px;
    }
}
</style>